footer p{
    font-size: 50px;
    color: #0008ff;
    margin-top: 20px;
}

.small-icon {
    width : auto;
    height : 100px;
    margin-right : 20px;
    vertical-align : middle;
}

body, html {
    margin : 0;
    padding : 0;
    font-family : arial, sans-serif;
    background : linear-gradient(180deg, #0367fd, #eaebd5);
    height : 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
    width: 500px;
    background: rgb(255, 255, 255);
    border-radius:100px;
    padding:10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);    
}

.logo {
    width: 200px;
    margin-bottom: 0px;
}

.profile h1{
    font-size: 50px;
    color: #f5d508;
    margin-bottom: 10px;
}

.links .link ,.call-button{
    font-size: 10px;
    display : block;
    text-decoration: none;
    background-color: #d7e3b3;
    color: #333;
    padding: 1px 0px;
    margin: 10px 30px;
    border-radius: 5px;
    box-shadow : 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease;
}

.links .link:hover ,.call-button:hover {
    background-color: #ccd3f3;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}